## Project Stage - II (Data Modeling)

## Goals

The goal of Stage II is to develop the data for modeling and comparative analysis. Here you will be comparing how US is doing with other countries in COVID cases and deaths. And you will be also analysing county based information for different states in the US. Since COVID dataset is huge, we will focus the analysis on selected dates, starts from 2020, July - 2020, December.

### Tasks:

#### Task 1: (100 pts)
- Team: (50 pts) (Each question 10 pts, markdown 10 pts)
    - Compare the weekly statistics (mean, median, mode) for number of cases and deaths across US.  
    - Compare the data against other countries of the world. Data at: https://ourworldindata.org/coronavirus-source-data
        - Choose at least 5 similar populations countries to compare. 
    - Plot weekly trends (cases and deaths) of US and compare other countries. Utilize aggregrate, normalized by population, difference in cases, and log normalized values. (hint: do normalization: number of cases per 100,000, and then use np.log10())
    - Identify the peak weeks of the cases and deaths in US and other countries. Try to do background research to see what the reasoning for the peaks can be (holidays, vacations, travel, weather, etc). Explain with a description in the notebooks. 
- Member: (50 pts) (Each question 10 pts, markdown 10 pts)
    - Generate weekly statistics (mean, median, mode) for number of cases and deaths across a specific "state". 
    - Compare the data against other states (compare against 5 states). Normalize by population, use a normalization factor which is able to identify cases and deaths, for example try per 10,000 or 100,000 (this depends on the population). Plot the values across the weeks in a line plot for the 5 states in a single graph. Describe why the rates differ across these states in the notebook. Identify the peaks, do they compare with the US pattern?
    - Identify five counties within a state of your choice with high cases and death rates. 
    - Plot weekly trends (cases and deaths) for the top 5 infected counties. Show plots by raw values and log normalized values. Describe what is causing them and what were the peaks. Do the counties follow state pattern. 
    

**Deliverable**
- Each member creates separate notebooks for member tasks (with your name). Upload all notebooks and reports to canvas.
- Presentation in class.

*PS: Try to use `Plotly` for your charts. Will be useful in Stage IV. As plotly graphs are intereactive they are not rendered properly in Github. You can use the approach here to render static images: https://plotly.com/python/static-image-export/. Submission to the repository should contain static images in the notebook.*

Clarification: (1) If the first date in July 2020 is not Monday, you can start analysis from the first Monday in July, and the end date should be the last Sunday in December, 2020. (2) Group members can have some overlap in choosing the states, since there is little chance that all members work on the same selected states.

 - Compare the weekly statistics (mean, median, mode) for number of cases and deaths across US.

In [94]:
import pandas as pd
import datetime
import plotly as py
deaths = pd.read_csv("./covid_deaths_usafacts.csv")
cases = pd.read_csv("./covid_confirmed_usafacts.csv")
combined = pd.read_csv("./Full_Covid_Data.csv")

In [95]:
deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,142,142,142,142,142,142,142,142,142,142
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,16
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,43
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,24,24,24,24,24,24,24,24,24,24

In [117]:
def get_dates(data):
    dates = data.loc[:, [i not in ["countyFIPS","County Name", "State", "StateFIPS"] for i in data]] #Extract non dates
    
    dates.columns = pd.to_datetime(dates.columns) #Fix columns to be date times
    
    dates = dates.loc[:, [(i <= datetime.datetime(2020, 12, 31)) and (i > datetime.datetime(2020, 6, 1)) for i in dates]] #Extract correct time
    return dates
death_dates = get_dates(deaths)
death_dates

,2020-06-02,2020-06-03,2020-06-04,2020-06-05,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-06-10,2020-06-11,...,2020-12-22,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,5,5,5,5,5,5,5,6,6,...,44,46,46,46,46,47,47,47,48,48
2,9,9,9,9,9,9,9,9,9,9,...,149,151,151,151,151,152,152,156,160,161
3,1,1,1,1,1,1,1,1,1,1,...,32,32,32,32,32,32,32,32,32,32
4,1,1,1,1,1,1,1,1,1,1,...,42,42,42,42,42,42,42,42,46,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,0,0,0,0,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,15,16
3189,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,3,3,3,4
3190,0,0,0,0,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,7,7
3191,3,3,3,3,3,3,3,3,3,3,...,11,11,11,11,11,11,16,16,16,19
3192,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [118]:
def get_weekly_stats(dates): #Note: was written for deaths, but should work the same for infect

    weeks = [range(i, i + 7) for i in range(0, len(dates.columns) - 7, 7)]
    dates.iloc[:, death_weeks[0]]
    
    stats = pd.DataFrame({"week": [],"mean" : [], "median" : [], "mode" : []})
    
    for i in range(len(death_weeks)):
        date = dates.iloc[:, weeks[i]].iloc[0, :].keys()[0]
        #print(date)
        week = dates.iloc[:, weeks[i]].sum(axis = 1)
        #print(week)
        #print(week.mean())
        #print(week.median())
        #print(week.mode())
        #print(death_stats)
        new_row = pd.DataFrame({"week": date,"mean" : week.mean(), "median" : week.median(), "mode" : week.mode()})
        stats = pd.concat([stats, new_row])
    return stats
get_weekly_stats(death_dates)

C:\Users\Nivek\AppData\Local\Temp\ipykernel_6664\2466730256.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stats = pd.concat([stats, new_row])

        week        mean  median  mode
0 2020-06-02  238.996242     7.0   0.0
0 2020-06-09  250.963044     7.0   0.0
0 2020-06-16  260.999374     7.0   0.0
0 2020-06-23  272.272158     7.0   0.0
0 2020-06-30  285.363608     8.0   0.0
0 2020-07-07  296.966176    14.0   0.0
0 2020-07-14  310.792985    14.0   0.0
0 2020-07-21  326.394926    14.0   0.0
0 2020-07-28  342.969934    21.0   0.0
0 2020-08-04  359.405262    21.0   0.0
0 2020-08-11  375.392421    28.0   0.0
0 2020-08-18  389.656436    28.0   0.0
0 2020-08-25  403.201378    33.0   0.0
0 2020-09-01  415.331350    35.0   0.0
0 2020-09-08  425.749452    40.0   0.0
0 2020-09-15  437.098653    42.0   0.0
0 2020-09-22  447.726903    46.0   0.0
0 2020-09-29  457.831506    49.0   0.0
0 2020-10-06  468.241153    56.0   0.0
0 2020-10-13  478.968681    61.0   0.0
0 2020-10-20  491.365487    68.0   0.0
0 2020-10-27  504.289070    77.0   0.0
0 2020-11-03  519.912308    84.0   0.0
0 2020-11-10  538.107736    91.0   0.0
0 2020-11-17  560.554024   103.0   0.0
0 2020-11-24  586.258378   113.0   0.0
0 2020-12-01  617.724397   128.0   0.0
0 2020-12-08  655.995615   142.0   0.0
0 2020-12-15  698.570310   160.0   0.0
0 2020-12-22  737.971187   172.0   0.0

In [119]:
infection_dates = get_dates(cases)

infection_dates

,2020-06-02,2020-06-03,2020-06-04,2020-06-05,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-06-10,2020-06-11,...,2020-12-22,2020-12-23,2020-12-24,2020-12-25,2020-12-26,2020-12-27,2020-12-28,2020-12-29,2020-12-30,2020-12-31
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,238,239,241,248,259,265,272,282,295,312,...,3841,3889,3942,3990,3999,4029,4065,4105,4164,4190
2,292,292,293,296,304,313,320,325,331,343,...,12155,12321,12521,12666,12708,12825,12962,13172,13392,13601
3,175,177,177,183,190,193,197,199,208,214,...,1363,1383,1390,1396,1398,1406,1417,1462,1492,1514
4,76,76,76,76,77,77,79,85,89,93,...,1660,1683,1711,1725,1739,1746,1762,1792,1817,1834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,30,31,32,32,32,32,33,34,35,36,...,2780,2820,2820,2820,2845,2854,2921,2929,2943,2966
3189,100,100,100,100,100,100,100,100,101,102,...,2033,2039,2039,2039,2080,2080,2108,2112,2121,2138
3190,13,13,13,19,19,23,25,35,39,53,...,1460,1475,1475,1475,1495,1497,1507,1521,1540,1558
3191,37,37,39,39,39,39,39,39,39,39,...,720,726,726,726,747,747,763,764,768,781
3192,1,1,1,1,1,1,1,1,1,1,...,455,460,460,460,461,466,467,471,475,476

In [120]:
infection_stats = get_weekly_stats(infection_dates)
infection_stats

C:\Users\Nivek\AppData\Local\Temp\ipykernel_6664\2466730256.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  stats = pd.concat([stats, new_row])

        week          mean   median  mode
0 2020-06-02   4198.606326    299.0   0.0
0 2020-06-09   4533.739430    352.0   0.0
0 2020-06-16   4944.647040    402.0   0.0
0 2020-06-23   5518.537426    483.0   0.0
0 2020-06-30   6264.024115    578.0   0.0
0 2020-07-07   7141.409959    719.0   0.0
0 2020-07-14   8153.274350    873.0   0.0
0 2020-07-21   9150.637018   1062.0   0.0
0 2020-07-28  10083.918572   1245.0   0.0
0 2020-08-04  10908.957094   1440.0   0.0
0 2020-08-11  11649.267147   1633.0   0.0
0 2020-08-18  12296.543689   1814.0   0.0
0 2020-08-25  12913.137801   1986.0   0.0
0 2020-09-01  13519.937050   2176.0   0.0
0 2020-09-08  14053.408393   2346.0   0.0
0 2020-09-15  14652.632634   2542.0   0.0
0 2020-09-22  15312.887567   2757.0   0.0
0 2020-09-29  15965.712496   3051.0   0.0
0 2020-10-06  16685.457563   3323.0   0.0
0 2020-10-13  17525.959599   3653.0   0.0
0 2020-10-20  18500.296273   4002.0   0.0
0 2020-10-27  19732.515503   4361.0   0.0
0 2020-11-03  21417.346383   4961.0   0.0
0 2020-11-10  23584.834012   5733.0   0.0
0 2020-11-17  26147.423426   6479.0   0.0
0 2020-11-24  28758.065142   7204.0   0.0
0 2020-12-01  31649.324147   8015.0   0.0
0 2020-12-08  34939.083307   8960.0   0.0
0 2020-12-15  38211.024115   9713.0   0.0
0 2020-12-22  41004.953335  10447.0   0.0

Presentation order:

In [4]:
import random
group = ['Group 1','Group 2','Group 3']
random.shuffle(group)
for i, group in enumerate(group, start=1):
    print(f"Presentation {i}: {group}")

Presentation 1: Group 2
Presentation 2: Group 1
Presentation 3: Group 3